.app {
  font-family: sans-serif;
  background-color: #f5f5f5;
  position: relative;
  padding: 16px;
  width: 1284px;
  margin: auto; 
}

canvas, label, legend, button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 4px;
  font-size: 14px;
}

.canvas-panel {
  border: solid 0px black; border-radius: 8px;
  background-color: black;
  font-weight: bold;
  opacity: 0.7;
  width: auto;
}

/* ----------------------------------------------------------------------------
 * Canvas Panel Scene 
 */
#scene-choice {
  position: absolute; top: 24px; left: 24px;
  padding: 4px 4px 4px 4px;
}
.scene-choice-button {
  color: cadetblue;
  background-color: black;
  border-style: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
.scene-choice-button:hover {
  color: white;
}
.scene-choice-button:focus {
  outline: none;
}

/* ----------------------------------------------------------------------------
 * Canvas Panel Camera 
 */
#camera-setup {
  position: absolute; top: 60px; left: 24px;
  border-width: 4px 8px 4px 8px;
}
.camera-choice-button {
  margin: 0px 4px 0px 0px;
  vertical-align: middle;
}
.camera-choice-button-label {
  color: cadetblue;
  font-size: 12px;
  cursor: pointer;
}
.camera-choice-button-label:hover {
  color: white;
}
.camera-setup-fieldset {
  border: solid 1px yellowgreen;
  border-style: solid none none none;
  margin: 0px;
  padding: 0px;
  width: auto;
}
.camera-setup-legend {
  color: cadetblue;
  font-size: 12px;
  font-style: italic;
  padding: 0px 2px 0px 0px;
}
.camera-setup-slider {
  margin: 0px;
  padding: 0px 0px 0px 2px;
  width: 112px;
  cursor: pointer;
}
.camera-setup-value {
  color: yellow;
  font-style: normal;
}

/* ----------------------------------------------------------------------------
 * Canvas Panel Render 
 */
#wirefrm-choice {
  position: absolute; top: 706px; left: 24px;
  padding: 4px 2px 6px 10px;
}
#normals-choice {
  position: absolute; top: 706px; left: 194px;
  padding: 4px 2px 6px 10px;
}
.checkbox {
  margin: 0px 2px 0px 0px;
  vertical-align: middle;
}
.checkbox-label {
  color: cadetblue;
  font-size: 12px;
  cursor: pointer;
  margin-right: 12px;
}
.checkbox-label:hover {
  color: white;
}

/* ----------------------------------------------------------------------------
 * Canvas Panel Lighting
 */
#lights {
  position: absolute; top: 24px; left: 1100px;
  padding: 1px 8px 6px 8px;
}
.lights-setup-fieldset {
  border: solid 1px yellowgreen;
  border-style: solid none none none;
  margin: 4px 0px 4px 0px;
  padding: 0px;
}
.lights-setup-legend {
  color: cadetblue;
  font-size: 12px;
  font-style: italic;
  padding: 0px 2px 0px 0px;
}
.lights-setup-button {
  margin: 0px;
  padding: 0px 0px 0px 4px;
  height: 16px;
  border: solid 2px;
  width: 132px;
  margin: 0px 8px 0px 0px;
  padding: 0px 2px 0px 2px;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------
 * canvas 
 */
#canvas {
  border: outset 2px lightgray
}

#copyright {
  text-align: center;
}