.App {
  font-family: sans-serif;
  background-color: #f5f5f5;
  position: relative;
  padding: 16px;
  width: 1284px;
  margin: auto; 
}

canvas, label, legend, button, div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#LHS {
  position: absolute; 
  top: 20px; 
  left: 20px; 
  width: 240px;
}

div#RHS{
  position: absolute; 
  top: 20px; 
  left: 1124px; 
  width: 172px;
}

div#Bottom {
  position: absolute;
  top: 712px; 
  left: 20px;
}

/* Shared styels -------------------------------------------------------------- */
.CanvasPanel {
  background-color: black;
  border-radius: 8px;
  border-color: black;
  font-weight: bold;
  font-size: 12px;
  opacity: 0.7;
  padding: 4px 8px;
  margin: 4px;
  width: auto;
}

.Fieldset {
  border: solid 1px yellowgreen;
  border-style: solid none none none;
  padding: 0px;
  margin: 0px;
}

.Legend {
  color: cadetblue;
  font-style: italic;
  padding: 0px 2px 0px 0px;
}

.LegendValue {
  color: yellow;
}

.Range {
  margin: 0px;
  padding: 0px 0px 0px 2px;
  cursor: pointer;
  width: 97%;
}

.Checkbox {
  vertical-align: middle;
  margin: 2px 2px 2px 0px;
}

.CheckboxLabel {
  color: cadetblue;
  cursor: pointer;
}

.CheckboxLabel:hover {
  color: white;
}

/* Scene panel ---------------------------------------------------------------- */
#ScenePanel {
  float: left;
}

.SceneButton {
  color: cadetblue;
  background-color: black;
  border-style: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.SceneButton:hover {
  color: white;
}

.SceneButton:focus {
  outline: none;
}

/* Camera panel -------------------------------------------------------------- */
#CameraPanel {
  float: left;
  width: 55%;
}

.CameraButton {
  margin: 0px 4px 0px 0px;
  vertical-align: middle;
}

.CameraButtonLabel {
  color: cadetblue;
  cursor: pointer;
}

.CameraButtonLabel:hover {
  color: white;
}

/* Light panel ---------------------------------------------------------------- */
#LightPanel {
  float: right;
  width: 72%;
}

.LightSelect {
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  outline-color: yellow;
}

/* Material panel ------------------------------------------------------------- */
#MaterialPanel {
  float: right;
}

.MaterialInput {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 112px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding-right: 24px;
}

button#ClearButton {
  margin: 0px 0px 0px -22px;
  padding: 0px 0px 0px 4px;
  border: none;
  border-left: solid 1px grey;
  vertical-align: middle;
  background-color: white;
  outline-color: yellow;
}

button#ClearButton:hover {
  cursor: pointer;
}

.MaterialInput:focus {
  border: solid 2px yellow;
}

.MaterialItem {
  color: yellow;
}

.MaterialItem:hover {
  color: white;
}

/* Canvas --------------------------------------------------------------------- */
canvas#Canvas {
  border: outset 2px lightgray
}

/* Copyright ------------------------------------------------------------------ */
.ProjectInfo {
  margin: 4px;
  font-size: 14px;
  text-align: center;
}